@import "ui-variables";

.efd-devices {
  padding: 20px;
  background-color: @pane-item-background-color;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.efd-device-item {
  &:hover {
    color: @text-color-highlight;
  }
  display: flex;
  flex-direction: column;
  color: @text-color;
  margin-right: 10px;
  border: 1px solid @pane-item-border-color;
  padding: 10px;
  height: 190px;
  animation: pulse 1s ease infinite;
}

.device-item-phone {
  display: flex;
  justify-content: center;
  font-size: 80px;
}

.device-item-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
  i {
    &.service-enable {
      color: @text-color-success;
    }
    &.service-disable {
      color: @text-color-error;
    }
  }
}

.device-item-content {
  display: flex;
  flex-direction: column;
}

.device-item-info:hover {
  color: @text-color;
}

.device-item-info {
  display: flex;
  justify-content: center;
  color: @text-color-subtle;
}

@keyframes pulse {
  0% {
    background-color: @tool-panel-background-color;
  }
  100% {
    background-color: @pane-item-background-color;
  }
}
